<br/>
<h4>Expériences professionnelles</h4>
<div class="row">
  <div class="col-4">
    <div class="card">
      <form [formGroup]="skillForm" (ngSubmit)="onSubmit()">
        <div class="card-header">
          Ajouter une expérience
        </div>
        <div class="card-body">
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" aria-describedby="date_debut">Date de début</span>
            </div>
            <input type="date" class="form-control" id="date_debut" formControlName="date_debut">
            <div class="input-group-prepend">
              <span class="input-group-text" aria-describedby="date_fin">Date de fin</span>
            </div>
            <input type="date" class="form-control" id="date_fin" formControlName="date_fin">
          </div>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" aria-describedby="titre">Titre</span>
            </div>
            <input type="text" class="form-control" id="titre" formControlName="titre">
          </div>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" aria-describedby="entreprise">Entreprise</span>
            </div>
            <input type="text" class="form-control" id="entreprise" formControlName="entreprise">
          </div>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" aria-describedby="description">Description</span>
            </div>
            <textarea type="text" class="form-control" id="description" formControlName="description"></textarea>
          </div>
          <button type="submit" class="btn btn-primary" [disabled]="skillForm.invalid">Créer</button>
        </div>
      </form>
    </div>
  </div>
  <div class="col-8">
    <div class="card">
      <div class="card-header">Liste des expériences</div>
      <div class="card-body">
        <table class="table">
          <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Date de début</th>
            <th scope="col">Date de fin</th>
            <th scope="col">Titre</th>
            <th scope="col">Entreprise</th>
            <th scope="col">Description</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let f of skills">
            <th scope="{{f.id}}">{{f.id}}</th>
            <td>{{f.date_debut}}</td>
            <td>{{f.date_fin}}</td>
            <td>{{f.titre}}</td>
            <td>{{f.entreprise}}</td>
            <td>{{f.description}}</td>
            <td>
              <button class="btn btn-success" [routerLink]="['/admin', 'cv', 'skill', f.id]">Modifier</button>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
